<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="windows-1251">
        <title>HackerFace|Blog</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="images/favicon.ico">
    </head>
    <body>
        <section class="header">
            <div class="logo-section">
                <img src="images/kfu-logo.png" alt="kfu-logo">
            </div>
            <div class="navbar">
                <ul class="navbar-menu">
                    <li>
                        <a href="index.cgi" class="link-active">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="blog.cgi" class="link-active">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="stats.cgi" class="link-active" target="_parent">
                            Performance
                        </a>
                    </li>
                    <li>
                        <a href="about" class="link-active" target="_parent">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main-body comments-div">
            <div class="div-comment-icon">
                <img src="images/comment_section_logo.png" alt="comment-section-logo">
            </div>
            <div class="chatbox-container">
                <div id="div-respond-form">
                    <h3>Leave a Comment :)</h3>
<!--SOURCE-->
                </div>
                <div class="div-comment-section">
                    <div id="comment-section-head">
                        <h1>Comments</h1>
                    </div>
                    <div id="comment-section-body">
<!--ENTRY-->
                    </div>
                </div>
            </div>
        </section>
<!--CONTENT-->
    </body>
</html>